.course-container{
    display: inline-flex;
}

.couse-card{
    width: 220px;
    height: 320px;
    margin: 10px 10px;
    background-color: wheat;
}

.couse-name{
    text-align: center;
}

.coure-dsecrption{
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 10px;
}

.details{
    display: flex;
    margin: 10px 0px;
}

.course-type{
    width: 50%;
    font-weight: bold;
}
.course-buttons{
    display: flex;
}

.btn{
    width: 140px;
}