  <!--This is a combination of static text ("All Courses(" and ")") and a dynamic value (all). The parentheses () are used to enclose and concatenate the dynamic value with the static text
    all: This is most likely a variable or a property from the component's data. The value of the all variable will be dynamically inserted into the string at the position of all
    The ++ operator is a shorthand increment operator in many programming languages
    The + symbol is used for string concatenation-->
<div class="filter-container">
  <span>Filter: </span>

  <input
    type="radio"
    name="filter"
    value="All"
    (change)="onRadioButtonSelectionChanged()"
    [(ngModel)]="selectedRadioButtonValue"
  />
  <span>{{ "All Courses(" + all + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="Free"
    (change)="onRadioButtonSelectionChanged()"
    [(ngModel)]="selectedRadioButtonValue"
  />
  <span>{{ "Free Courses(" + free + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="Premium"
    (change)="onRadioButtonSelectionChanged()"
    [(ngModel)]="selectedRadioButtonValue"
  />
  <span>{{ "Premium Courses(" + premium + ")" }}</span>
</div>
